/*BASE ELEMENTS*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  background-color: hsla(0, 0%, 5%, 1);
  color: hsla(0, 0%, 90%, 1);
  font-family: Barlow Condensed;
  margin-bottom: 50px;

  margin-left: 5vw;
  margin-right: 5vw;
}



/*GLOBAL STYLING*/
a {
  color: hsla(0, 0%, 90%, 1);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#drawer {
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  overflow-x: hidden;

  background-color: hsla(31, 100%, 45%, 1);

  display: grid;
  grid-auto-rows: 50px;
}
#drawer > h2 {
  padding-left: 20px;
  text-decoration: underline white;

  margin: 0;
  padding-top: 10px;
}
#drawer > h3 {
  font-size: 2em;
  padding-left: 20px;

  margin: 0;
}
#drawer-social-media {
  display: grid;
  grid-auto-flow: column;
}
#drawer-social-media > a {
  display: grid;
}
#drawer-social-media > a > i {
  justify-self: center;
  align-self: center;
}


/*HEADER STYLING*/
#header-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 15vh;

  margin-top: 20px;
}
#header-layout > #logo-and-description {
  grid-column: 1/2;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 1fr;
}
#header-layout > #drawer-button {
  grid-column: 2/3;
  grid-row: 1/2;

  display: grid;
  padding: 0;
  height: 100%;
  width: 100%;
}
#header-layout > #drawer-button > i {
  justify-self: end;
  align-self: center;

  padding-right: 10px;

  transform: scale(3);
}


#logo-and-description > h1 {
  grid-column: 1/2;
  grid-row: 1/2;

  margin: 0;
  justify-self: center;
  align-self: center;

  font-size: calc(2.2em + 3vw);

  color: hsla(35, 100%, 60%, 1);
  -webkit-text-stroke: 1px hsla(35, 100%, 80%, 1);

}
#logo-and-description > img {
  grid-column: 2/3;
  grid-row: 1/2;

  max-width: 100%;
  height: calc(30% + 7vw);
  width: auto;

  box-sizing: border-box;

  margin: 0;
  padding: calc(3px + 1vw);

  justify-self: start;
  align-self: center;
}
#logo-and-description > p {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;

  margin: 0;
  font-size: calc(1em + 1.5vw);

  border-top: 1px solid white;

  padding: 5px;
}

#drawer-button {
  justify-self: center;
  align-self: center;

  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: inherit;
  color: white;

  height: 50%;
  width: 50%;
}

#nav-layout {
  display: none;
}
#nav-layout > #links, #nav-layout > #social-media {
  display: none;
}
@media only screen and (min-width: 768px) {
  #nav-layout {
    grid-column: 1/2;
    grid-row: 1/2;

    display: grid;

    justify-content: center;
    border-right: 2px solid hsla(0, 0%, 90%, 1);
    margin-top: 20px;
    transform: skewX(-30deg);
  }

  #nav-layout a {
    font-size: 25px;
    transform: skewX(30deg);
  }
}


/*MAIN STYLING*/
#about-the-band {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(7, min-content);

  margin-top: calc(2em + 10vw);

}
#about-the-band > h3 {
  grid-column: 1/2;
  grid-row: 1/2;

  font-size: calc(2em + 3vw);
  margin: 0;
  margin-bottom: 0.2em;
}
#about-the-band > #picture-2005 {
  grid-column: 1/3;
  grid-row: 2/3;

  width: 100%;
  height: 100%;
  min-height: calc(250px + 15vw);
  object-fit: cover;

}
#about-the-band > #picture-2005-content {
  grid-column: 1/3;
  grid-row: 3/4;

  margin: 0;
  margin-bottom: 50px;
  margin-top: 10px;

  font-size: calc(1.1em + 1vw);
}
#about-the-band > #picture-2013 {
  grid-column: 1/3;
  grid-row: 4/5;

  width: 100%;
  height: 100%;
  min-height: calc(250px + 15vw);
  object-fit: cover;
}
#about-the-band > #picture-2013-content {
  grid-column: 1/3;
  grid-row: 5/6;

  margin: 0;
  margin-bottom: 50px;
  margin-top: 10px;
  font-size: calc(1.1em + 1vw);
}
#about-the-band > #picture-2017 {
  grid-column: 1/3;
  grid-row: 6/7;

  width: 100%;
  height: 100%;
  min-height: calc(250px + 15vw);
  object-fit: cover;
}
#about-the-band > #picture-2017-content {
  grid-column: 1/3;
  grid-row: 7/8;

  margin: 0;
  margin-bottom: 50px;
  margin-top: 10px;
  font-size: calc(1.1em + 1vw);
}
.date-styling {
  text-decoration: underline hsla(31, 100%, 60%, 1);
  font-size: calc(1.5em + 1vw);
}


#band-introduction {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(6, min-content);

  margin-top: 50px;
}
#band-introduction > h3 {
  grid-column: 1/2;
  grid-row: 1/2;

  font-size: calc(2em + 3vw);
  margin: 0;
  margin-bottom: 0.5em;
}
#band-introduction > #hayley {
  grid-column: 1/2;
  grid-row: 2/3;

  width: 100%;
  height: 100%;
  min-height: calc(250px + 30vw);
  object-fit: cover;
}
#band-introduction > #hayley-description {
  grid-column: 1/2;
  grid-row: 3/4;

  margin: 0;
  margin-bottom: 50px;
  margin-top: 10px;

  font-size: calc(1.1em + 1vw);
}
#band-introduction > #taylor {
  grid-column: 1/2;
  grid-row: 4/5;

  width: 100%;
  height: 100%;
  min-height: calc(250px + 30vw);
  object-fit: cover;
}
#band-introduction > #taylor-description {
  grid-column: 1/2;
  grid-row: 5/6;

  margin: 0;
  margin-bottom: 50px;
  margin-top: 10px;

  font-size: calc(1.1em + 1vw);
}
#band-introduction > #zac {
  grid-column: 1/2;
  grid-row: 6/7;

  width: 100%;
  height: 100%;
  min-height: calc(250px + 70vw);
  object-fit: cover;
}
#band-introduction > #zac-description {
  grid-column: 1/2;
  grid-row: 7/8;

  margin: 0;
  margin-bottom: 50px;
  margin-top: 10px;

  font-size: calc(1.1em + 1vw);
}
.person-styling {
  text-decoration: underline hsla(31, 100%, 60%, 1);
  font-size: calc(1.5em + 1vw);
}
